@{
    Layout = "_Layout";
}
<h1>Eau Claire's Salon</h1>
<button class="btn btn-warning">@Html.ActionLink("Looking For a Stylist?", "Index", "Stylists")</button>
<button class="btn btn-warning">@Html.ActionLink("See all Clients", "Index", "Clients")</button>