@{
    Layout = "_Layout";
}

<button class="btn btn-success">@Html.ActionLink("Looking For a Stylist?", "Index", "Stylists")</button>
<button class="btn btn-success">@Html.ActionLink("See all Clients", "Index", "Clients")</button>